<div class="login-page container-fluid">
  <div class="row h-100">
    <div class="col-md-8 left-side">
      <img src="assets/login.jpg" alt="Login Image" class="img-fluid" />
    </div>

    <div class="col-md-4 d-flex align-items-center justify-content-center">
      <div class="login-content text-center">
        <h1 class="app-title">Expense Tracker</h1>
        <p class="subtitle">A Budget Planning App</p>
        <button class="btn g-signin2">Continue with Google</button>
      </div>
    </div>
  </div>
</div>
