.login-page {
  height: 100vh;

  .left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    height: 100%;

    img {
      max-height: 100%;
      width: auto;
    }
  }

  .login-content {
    width: 60%;
    margin: 0 auto;

    .app-title {
      font-size: 2.5rem;
      color: #1a73e8;
    }

    .subtitle {
      font-size: 1.2rem;
      color: #6c757d;
    }

    button {
      font-size: 1.1rem;
      padding: 10px 20px;
      border-radius: 5px;
    }
  }
}
