.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  background-color: #7ab2d3;
}

.category-card {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
}

.category-card h3 {
  margin-top: 0;
  font-size: 1.2rem;
  color: #333;
}

.category-card p {
  color: #666;
}

.add-category-card {
  background-color: #28a745;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

.add-category-card h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #f8f9fa;
}

@media (max-width: 768px) {
  .category-card {
    flex: 1 1 100%;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content h2 {
  margin-top: 0;
  color: #333;
}

.modal-content label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.modal-actions button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.modal-actions button[type="submit"] {
  background-color: #28a745;
  color: white;
}

.modal-actions button[type="button"] {
  background-color: #dc3545;
  color: white;
}
