.dashboard {
  font-family: Arial, sans-serif;
  padding: 20px;
  height: 90vh;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.dashboard-container {
  display: flex;
  gap: 20px;
}

.left-section {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
}

.chart {
  text-align: center;
}

canvas {
  max-width: 400px;
  margin: 0 auto;
}

.financial-summary {
  margin-top: 20px;
  background: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.financial-summary h5 {
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

.financial-summary p {
  margin: 10px 0;
  font-size: 1rem;
  color: #495057;
}

.right-section {
  flex: 2;
  min-width: 350px;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
}

.categories-header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 10px;
}

.categories-header h3 {
  font-size: 1.4rem;
  margin: 0; 
}

.edit-btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  
}

.edit-btn:hover {
  background: #0056b3;
}


.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
 
  overflow-y: auto;
}

.category-card {
  background: #E9EFEC;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-left: 10px solid transparent;
  transition: all 0.3s ease;
}

.category-card:hover {
  border-left: 5px solid #007bff; /* Highlight color on hover */
  transform: translateY(-5px);
}

.category-card h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #333;
}

.category-card p {
  margin: 5px 0;
  font-size: 1rem;
  color: #495057;
}

.category-grid::-webkit-scrollbar {
  width: 10px;
}

.category-grid::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.category-grid::-webkit-scrollbar-thumb {
  background: #9aa6b2;
  border-radius: 10px;
}

.category-grid::-webkit-scrollbar-thumb:hover {
  background: #888;
}



/* Responsive adjustments */
@media (max-width: 768px) {
  .dashboard-container {
      flex-direction: column;
  }

  .left-section {
      flex: 1;
      min-width: 100%;
  }

  .right-section {
      flex: 1;
      min-width: 100%;
  }
}

@media (max-width: 500px) {
  .category-card h3 {
      font-size: 1.1em;
  }

  .category-card p {
      font-size: 0.9em;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal.show {
  opacity: 1;
  pointer-events: auto;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: left;
}

.modal-content h3 {
  margin-bottom: 20px;
  font-size: 18px;
}

.modal-content table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.modal-content th,
.modal-content td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-size: 14px;
}

.modal-content th {
  background-color: #f4f4f4;
}

.modal-content input {
  width: 90%;
  padding: 5px;
  font-size: 14px;
}

.modal-actions {
  text-align: right;
}

.modal-actions button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.modal-actions button:hover {
  background-color: #0056b3;
}

.modal-actions button:last-child {
  background-color: #6c757d;
}

.modal-actions button:last-child:hover {
  background-color: #5a6268;
}

/* Add New Category */
.modal-content h4 {
  margin-top: 20px;
  font-size: 16px;
}

.modal-content input {
  margin-right: 10px;
}

.modal-content button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #214888;
}


.search-bar {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dropdown {
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.selected-categories-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

.scrollable-table {
  max-height: 200px; /* Set desired height */
  overflow-y: auto;
  padding: 5px;
}

.scrollable-table table {
  width: 100%;
  border-collapse: collapse;
}

.scrollable-table table td,
.scrollable-table table th {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.scrollable-table table tr:last-child td {
  border-bottom: none;
}
