<div class="navbar">
  <button class="hamburger">☰</button>
  <div class="navbar-brand">Expense Tracker</div>
  <div class="navbar-menu">
    <span class="username">Hello, {{ firstName }} {{ lastName }}</span>
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>
</div>

<div class="container">
  <div class="sidebar">
    <ul>
      <!-- Render admin menu items if the user is an admin -->
      <li *ngFor="let item of (isAdmin ? adminMenuItems : nonAdminMenuItems)">
        <a
          (click)="setActive(item.route)"
          [class.active]="activeMenu === item.route"
        >
          {{ item.label }}
        </a>
      </li>
    </ul>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Slabo+27px&family=Ultra&display=swap" rel="stylesheet">